html, body {
    margin: 0;
    padding: 0;
    background: #5a9bd8;
    font-family: 'Anton', sans-serif;
    
}

h1 {
    padding-left: 0px;
    color: white;
    font-size: 50px;
    text-align: center;
}

#image {
    color: white;
    width: 100%;
    padding: 15px 0px 15px 0px;
    font-size: 18px;
    border: none;
    outline: 0;
    text-align: center;
    cursor: pointer;
}

#image:hover{
    color: rgb(205, 249, 255);
}

.panel {
    position: absolute;
    width: 90%;
    transform: translate(5%);
    border-radius: 8px;
    box-shadow: 3px 3px 15px 0 rgba(0,0,0,0.5);
    overflow: hidden;
}

input-bar {
    display: flex;
}

.input-bar > select {
    padding: 15px;
    background: white;
    font-size: 16px;
    border: none;
    outline: 0;
    border-radius: 0px;
}

.container {
    height: 480px;
    background: white;
    border: 1px solid gainsboro;
    overflow: auto;
}

#photos {
    display: flex;
    justify-content: center;

}
#back {
    position: relative;
    float: left;

    width: 70px;
    height: 482px;
    background: #40739e;

    cursor: pointer;
}

#back:hover{
    position: relative;
    float: left;

    width: 70px;
    height: 482px;
    background: #5684aa;

    cursor: pointer;
}

#forward {
    position: relative;
    float: right;

    width: 70px;
    height: 482px;
    background: #40739e;

    cursor: pointer;
}

#forward:hover {
    position: relative;
    float: right;

    width: 70px;
    height: 482px;
    background: #5684aa;

    cursor: pointer;
}

.get {
    background: #40739e;
    font-size: 18px;
    text-align: center;
    color: white;
    padding: 15px;
    z-index: 10;
    cursor: pointer;
}

.get:hover{
    color: rgb(205, 249, 255);
}

.content {
    padding: 20px 30px 20px 30px;    
}